@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body,
html {

height: 100%;
}

body {
font-family:'Poppins', 'sans-serif'; 
}
.content-wrapper {
width: 100%;
height: 100%;
display: table;
}

.sidebar {
display: table-cell;
width: 60px;
height: 100%;
background: #202932;
vertical-align: top;
}

.nav-with-icon, .logo-img {
margin-top: 1em;
margin-left: 1em;
position: relative;
}

.icon-img {
display: inline-block;
vertical-align: middle;
color: white;
}
.bottom-nav-link {
margin-top: 1em;
margin-left: 1em;
position: absolute;
left:0;
bottom:0;
}

ul {
list-style: none;   
}

li, a {
text-decoration: none;
margin-top: 1em;
}

.content-container {
display: table-cell;
width: 95%;
height: 100%; 
background: #ffffff; 
}

.container{
width: 70%;
margin: 0 auto;
}
.container-1 {
width: 70%;
margin: 0 auto;
display: table;
height: 50px;
}

.top-header {
width: 100%;
height: 200px;
display: table;

}

.header-left, .sub-header-left, .lesson-left-side {
width: 70%;
display: table-cell;
vertical-align: middle;
}

.header-right, .sub-header-right, .lesson-right-side {
width: 30%;
display: table-cell;
vertical-align: middle;
text-align: right;
}

.current-btn {
width: 150px;
height: 40px;
display: inline-block;
border-radius: 5px;
color: white;
border: 1px solid #06b3e4;
background: #06b3e4;
cursor: pointer;
}
.sub-header {
background: #fafbfc;
border: 1px solid #f7f8f9;
}

.lesson-sub-header {
width: 100%;
height: 50px;
display: table;
overflow: auto;
}

.course-status, .lesson-progress {
position: relative;

}
.lesson-progress {
    padding-left: 20%;
}

.course-status:before {
content: '';
width: 3px;
height: 100%;
background-color: seagreen;
position: absolute;
top:0;
left: 60%;
bottom: 0;
}

.lesson-progress:before {
content: '';
width: 10%;
height: 3px;
background-color: seagreen;
position: absolute;
top:50%;
left: 0;
bottom: 0;
z-index: 1;
}

.lesson-progress::after {
content: '';
width: 15%;
height: 3px;
background-color: gray;
position: absolute;
top:50%;
left: 0;
bottom: 0;
}

.lesson-plan {
margin-top: 2em;
margin-bottom: 2em;
overflow: hidden;
display: table;
align-items: center;
border: 4px solid #f5f5f6;
border-radius: 5px;
}

.lesson-plan-left {
width: 70%;
display: table-cell;
padding: 30px;
}

.lesson-number, 
.lesson-title, 
.lesson-description {
padding: 0.5em 0 0.6em 0;
}

#icon-img {
display: inline-block;
vertical-align: middle;
padding-left: 0.5em;
}

.lesson-status {
width: 150px;
height: 40px;
display: inline-block;
border-radius: 5px;
color: #06b3e4;
border: 1px solid #06b3e4;
background: white;
margin: 0.5em 0 2em 0;;
}

.lesson-plan-right {
width: 30%;
vertical-align: middle;
background: #eff9fb;
display: table-cell;
position: relative;
}

.lesson-plan-img {
width: 100px;
height: 100px;
display: inline-block;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%, -50%);  
} 